SECRET_KEY=django-insecure-premium-hotel-platform-secret-key-2026
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,192.168.1.229,testserver
DATABASE_URL=sqlite:///db.sqlite3
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1

# Esewa Payment
ESEWA_CLIENT_ID=EPAYTEST
ESEWA_CLIENT_SECRET=8gBm/:&EnhH.1/q
ESEWA_DEMO=True

# khalti Payment
KHALTI_CLIENT_ID=
KHALTI_CLIENT_SECRET=11ec6f38d9c04be4b63f2a74514b38e6
KHALTI_DEMO=True

# Stripe Payment
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Site Domain
SITE_DOMAIN=127.0.0.1:8000

# Email & Mailpit SMTP Configuration
EMAIL_HOST=127.0.0.1
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
EMAIL_TIMEOUT=10
DEFAULT_FROM_EMAIL=Hotel Ichchha <noreply@hotelichchha.com>